#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.country {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
  position: relative;
  flex: 1;
}

.search-bar {
  width: 50%;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.country-name-container {
  text-align: center;
  position: relative;
}

.country-name-container::before,
.country-name-container::after {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
  visibility: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.flag {
  margin-bottom: 25px;
  margin-top: 25px;
}

.country-container {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 0;
}

.info-label {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 175px;
  margin: 5px 25px 5px 75px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-value {
  display: inline-block;
  margin: 0;
  word-wrap: break-word;
}

.heart-icon {
  color: #e51515;
  position: relative;
  top: -2px;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  margin: 25px;
}

button:hover {
  filter: brightness(150%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.fav-btn {
  padding: 0.7rem;
  position: absolute;
  right: 0;
  top: 15%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
